<!-- Third-Party Libraries -->
<script src="../../libs/jquery.js"></script>
<script src="../../libs/jquery-ui.js"></script>
<script src="../../libs/jquery.ui.touch-punch.js"></script>
<script src="../../libs/underscore.js"></script>
<script src="../../libs/backbone.js"></script>

<!-- Built-in Libraries -->
<script src="../../libs/actionbar/js/actionbar.js"></script>

<!-- Dataflow core -->
<script src="../ow.js"></script>

<!-- Dataflow Modules -->
<script src="../s/graph.js"></script>
<script src="../s/node.js"></script>
<script src="../s/input.js"></script>
<script src="../s/output.js"></script>
<script src="../s/edge.js"></script>

<script src="../s/graph-view.js"></script>
<script src="../s/node-view.js"></script>
<script src="../s/input-view.js"></script>
<script src="../s/output-view.js"></script>
<script src="../s/edge-view.js"></script>

<!-- Nodes (some basics to extend) -->
<script src="../base.js"></script>
<script src="../base-resizable.js"></script>
<script src="../test.js"></script>
<!-- Nodes (subgraph functionality) -->
<script src="../dataflow-input.js"></script>
<script src="../dataflow-output.js"></script>
<script src="../dataflow-subgraph.js"></script>

<!-- Plugins -->
<script src="../s/edit.js"></script>
<script src="../s/library.js"></script>
<script src="../s/view-source.js"></script>
<script src="../s/log.js"></script>

<!-- Custom elements -->
<!-- <link rel="import" href="dataflow-graph.html"> -->

<element name="dataflow-app" attributes="graph src">
  <template>

    <!-- Style -->
    <link rel="stylesheet" href="../../style/dataflow.css">
    <link rel="stylesheet" href="../../style/modules/node.css">
    <link rel="stylesheet" href="../../style/modules/edge.css">
    <link rel="stylesheet" href="../../style/modules/port.css">
    <link rel="stylesheet" href="../../style/modules/actionbar.css">
    <link rel="stylesheet" href="../../style/modules/jqui.css">
    <link rel="stylesheet" href="../../libs/actionbar/vendor/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../../build/dataflow.min.css"> -->

    <!-- <dataflow-graph id="base"></dataflow-graph> -->

  </template>
  <script>
    var dataflow;

    Polymer.register(this, {
      ready: function() {
        dataflow = new Dataflow({
          debug: "true"
        });
        this.shadowRoot.appendChild( dataflow.el );
      },
      graphChanged: function () {
        var parsedGraph = this.graph;
        if (typeof parsedGraph === "string") {
          parsedGraph = JSON.parse( this.graph );
        }
        dataflow.loadGraph( parsedGraph );
        // this.$.base.graph = this.parsedGraph;
      },
      srcChanged: function () {
        // Load JSON via AJAX and load graph
      }
    });
  </script>
</element>
