<element name="dataflow-node" attributes="id type label">
  <template>

    <p>Node {{id}}: {{type}} {{label}}</p>
  </template>
  <script>
    Polymer.register(this, {
      ready: function() {
      }
    });
  </script>
</element>
